[Unit]
Description="Subquery Astar Query Node"
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
EnvironmentFile=/home/subquery/subquery/.env
Restart=on-failure
RestartSec=10
User=subquery
SyslogIdentifier=astar_query
SyslogFacility=local7
KillSignal=SIGHUP
ExecStart=/usr/bin/subql-query \
     --aggregate true \
     --indexer 127.0.0.1:3001 \
     --max-connection 10 \
     --name schema_qmxwfcf8858yy92 \
     --port 4000 \
     --playground true \
     --query-timeout 2500 \
     --subscription \
     --log-level info 

[Install]
WantedBy=multi-user.target
