[Unit]
Description="Acala systemd service"
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=on-failure
RestartSec=10
User=<username>
SyslogIdentifier=acala
SyslogFacility=local7
KillSignal=SIGHUP
ExecStart=/usr/local/bin/acala \
    --base-path=/home/acala/.acala/data \
    --chain=acala \
    --name="PathrockNetwork-1" \
    --state-pruning=archive \
    --blocks-pruning=archive
    --port=16333 \
    --unsafe-rpc-external \
    --rpc-external \
    --rpc-cors=all \
    --ws-port=9944 \
    --rpc-port=9933 \
    --rpc-max-connections=1000 \
    --execution=wasm \
    --relay-chain-rpc-urls=wss://sgd.pathrocknetwork.org:5321


[Install]
WantedBy=multi-user.target
