[Unit]
Description="Subquery Kusama Indexer Node"
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=on-failure
RestartSec=10
User=subquery
SyslogIdentifier=subquery-kusama
SyslogFacility=local7
KillSignal=SIGHUP
ExecStart=/usr/bin/subql-node --subquery ipfs://QmXwfCF8858YY924VHgNLsxRQfBLosVbB31mygRLhgJbWn \
     --db-schema schema_qmxwfcf8858yy92 \
     --subscription true \
     --batch-size 50 \
     --scale-batch-size false \
     --timeout 7500 \
     --debug false \
     --profiler false \
     --network-endpoint wss://devpro.imstaked.com:9976 \
     --network-endpoint wss://rpc1.pathrocknetwork.org:5321 \
     --output-fmt json \
     --log-level info \
     --timestamp-field false \
#     --dictionary-resolver='https://kepler-auth.subquery.network' \
     --network-dictionary https://api.subquery.network/sq/subquery/kusama-dictionary \
     --dictionary-timeout 15 \
     --proof-of-index true \
     --ipfs https://rpc1.pathrocknetwork.org:5512/api/v0/ \
     --port 3001 \
     --disable-historical false \
     --workers 4 \
     --multi-chain false
     
[Install]
WantedBy=multi-user.target
