[Unit]
Description="Kilt systemd service"
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=on-failure
RestartSec=10
User=kilt
SyslogIdentifier=kilt
SyslogFacility=local7
KillSignal=SIGHUP
ExecStart=/usr/local/bin/kilt-parachain \
    --port=40666 \
    --chain=spiritnet \
    --runtime=spiritnet \
    --state-pruning=archive \
    --blocks-pruning=archive \
    --rpc-external \
    --rpc-port=9914 \
    --rpc-cors=all \
    --rpc-methods=unsafe \
    --rpc-max-connections=1000 \
    --prometheus-external \
    --prometheus-port 9707 \
    --name="Pathrock-1" \
    --execution=wasm \
    --listen-addr=/ip4/0.0.0.0/tcp/40666 \
    --base-path=/home/kilt/data/parachain \
    --no-private-ip \
    --no-mdns \
    --relay-chain-rpc-urls=wss://sgd.proxy.pathrocknetwork.org:9966

[Install]
WantedBy=multi-user.target
