version: '3'

services:
  postgres:
    image: postgres:16-alpine
    container_name: indexer_db
    restart: always
    expose:
      - 5432
    volumes:
      - .data/postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: PASSWORD
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres']
      interval: 5s
      timeout: 5s
      retries: 5

  coordinator:
    image: subquerynetwork/indexer-coordinator:v1.4.4
    container_name: indexer_coordinator
    restart: always
    ports:
      - 127.0.0.1:8000:8000
    depends_on:
      'postgres':
        condition: service_healthy
      'ipfs':
        condition: service_healthy
    volumes:
      - .projects:/usr/projects
      - /var/run/docker.sock:/var/run/docker.sock
    command:
      - --network=kepler # Change to the network you want to index [testnet | kepler | mainnet]
      - --postgres-host=postgres
      - --network-endpoint=https://polygon-mainnet.public.blastapi.io
      - --postgres-password=PASSWORD # Change to your postgres password
      - --postgres-port=5432
      - --batch-size=100
      - --workers=4
      - --port=8000
      - --start-port=3100 # The start port number for the indexer node, by default: 3001
      - --secret-key=SECRET # Change to your own secret key to encrypt the controller privatekey which store in db
      - --ipfs=https://rpc1.pathrocknetwork.org:5512/api/v0/ # Private IPFS node
    healthcheck:
      test:
        [
          'CMD',
          'curl',
          '-i',
          '-X POST',
          'http://127.0.0.1:8000/graphql',
          "-H 'Content-Type: application/json'",
          '-d ''{ "query": "query { accountMetadata { network } }" }''',
        ]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: indexer_cache
    restart: always
    expose:
      - 6379
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    healthcheck:
      test: ['CMD', 'redis-cli', '--raw', 'incr', 'ping']

  proxy:
    image: subquerynetwork/indexer-proxy:v1.3.3
    container_name: indexer_proxy
    restart: always
    ports:
      - 7370:7370/udp
      - 0.0.0.0:1080:1080
    command:
      - --host=0.0.0.0
      - --port=1080
      - --auth
      - --network=kepler # network type, need to be same with coordinator
      - --jwt-secret=SECRET # change to any random string value
      - --secret-key=SECRET # keep same with coordinator secret key
      - --service-url=http://127.0.0.1:8000
      - --network-endpoint=http://polygon-mainnet.public.blastapi.io
      - --token-duration=24 # New Node query auth token validity [hours]
      - --redis-endpoint=redis://indexer_cache
      - --metrics-token=thisismyAuthtoken # change to any random string value
    healthcheck:
      test: ['CMD-SHELL', 'curl http://localhost:1080/healthy >/dev/null 2>&1 || exit 1']
      interval: 30s
      timeout: 30s
      retries: 5

networks:
  default:
    name: indexer_services
