version: "3"

services:
  node_qmapq6cnkptze1j:
    image: subquerynetwork/subql-node-substrate:v3.6.0
    container_name: node_qmapq6cnkptze1j
    restart: always
    cpus: 12
    expose:
      - 3100
    environment:
      DB_USER: postgres
      DB_PASS: gPfpuTq4xRHkRJqLd
      DB_DATABASE: postgres
      DB_HOST: sqidb1.pathrocknetwork.org
      DB_PORT: 5432
    volumes:
      - /home/poi/QmapQ6cNKPtZE1jkeUp5V6xy7sPSiJiZpoqZcRRtyc4Stq:/home/poi/QmapQ6cNKPtZE1jkeUp5V6xy7sPSiJiZpoqZcRRtyc4Stq
    command:
      - -f=ipfs://QmapQ6cNKPtZE1jkeUp5V6xy7sPSiJiZpoqZcRRtyc4Stq
      - -d=
      - --ipfs=https://sgd.proxy.pathrocknetwork.org:5512/api/v0
#      - --network-endpoint=wss://sgd.proxy.pathrocknetwork.org:8844
      - --network-endpoint=ws://162.55.85.47:9933
      - --network-endpoint=ws://46.4.123.170:9933
      - --db-schema=schema_qmapq6cnkptze1j
      - --port=3100
      - --scale-batch-size=false
      - --batch-size=25
      - --timeout=5000
      - --workers=2
      - --store-cache-async=true
      - --store-cache-threshold=500
      - --store-get-cache-size=500
      - --store-flush-interval=15
      - --proof-of-index=true
      - --subscription=true
      - --mmr-store-type=postgres
      - -m=/home/poi/QmapQ6cNKPtZE1jkeUp5V6xy7sPSiJiZpoqZcRRtyc4Stq/.mmr
      - --disable-historical=false
    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "-f",
          "http://node_qmapq6cnkptze1j:3100/ready"
        ]
      interval: 3s
      timeout: 5s
      retries: 100

  query_qmapq6cnkptze1j:
    image: onfinality/subql-query:v2.9.0
    container_name: query_qmapq6cnkptze1j
    expose:
      - 3100
#    depends_on:
#      "node_qmapq6cnkptze1j":
#        condition: service_healthy
    restart: always
    environment:
      DB_USER: postgres
      DB_PASS: gPfpuTq4xRHkRJqLd
      DB_DATABASE: postgres
      DB_HOST: sqidb1.pathrocknetwork.org
      DB_PORT: 5432
    command:
      - --name=schema_qmapq6cnkptze1j
      - --playground
      - --indexer=http://node_qmapq6cnkptze1j:3100
      - --port=3100
      - --query-limit=2000
      - --subscription=true

networks:
  default:
    name: indexer_services
